[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = ">=1.3,<=1.4"
numpy = ">=1.15,<1.18"

[dev-packages]
twine = "*"
pytest = "*"
codecov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
