[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.15,<1.22"

[dev-packages]
twine = "*"
pytest = "*"
codecov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"
pytest-cov = "*"
