[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sympy = "*"
scipy = "*"

[dev-packages]
twine = "*"
pytest = "*"
codecov = "*"

[requires]
python_version = "3.7"
