name: Run mypy

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.9.17"
          enable-cache: true

      - name: Cache mypy cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .mypy_cache
          key: ${{ runner.os }}-mypy-${{ hashFiles('uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-mypy-

      - name: Run mypy
        run: uv run mypy geometer tests
